<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  <strong>文章标题<strong>
  </br>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, :controller => 'admin/comments', :action => 'index', :id => post %>
  </li>
  <% end %>
  </br>
  </br>
  <%= button_to'返回', { :controller => 'admin/backend', :action => 'index' }, :method => :get %>
</div>


</body>
</html>
