<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<style >

</style>
</head>
<body>
<div>
  <form action="/modify" method="post">
    当前密码： <input type="text" name="current_password">
    </br>
    修改密码： <input type="text" name="modify_password">
    </br>
    确认密码： <input type="text" name="confirm_password">
    </br>
    <input type="submit" value="确认">
  </form>
</div>


</body>
</html>
